# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
Main-work.md
Sarah Kasande Proposal & Software Requirements Specification (SRS) Document.txt

# Editor directories and files
.vscode/*
/Backend/notrequiredpark_conservation.sql
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
