flask 
mysql.connector 
flask_cors 


The admin credentials are:
1. Email: admin@ecopark.com Password: password

The government credentials are:
1. Email: laura.davis@gov.org Password: password
2. Email: robert.patel@gov.org Password: password

The auditors credentials are:
1. Email: sarah.williams@auditgov.org Password: password  
2. Email: james.rodriguez@auditgov.org Password: password  

The parkstaff credentials are:
1. Email: Ganza.dany@yahoo.com Password: password
2. Email: bob.audit@park.com Password: password
3. Email: carol.gov@park.com Password: password

The finance officers credentials are:
1. Email: emily.johnson@parkfinance.org Password: password  
2. Email: michael.chen@parkfinance.org Password: password  

How to run the frontend:
 npm run dev


How to run the Backend:
 cd Backend/
 python server.py



# Requirements for the project
#1. The visitors should be able to update their passwords 
#2. For the Booked tours, We should have a reason to book a tour 
#3. Every user should have a profile page where they can see their details and update them
#4. For the funds request we should have a reason to request funds see that the funds are above 1000; we should a request notification that we have money exceeding 1000.
5. The admin should send an email to all the new user when he/she has created a new user.
6. The government officer should see all the details of the park which include the income, expenses, and overall the information of the budget.
#6. For the government he/she should be able to see all the approved budgets.
#7. Reupdate the government dashboard
#8. Make sure that the addparkstuff displays an error message everytime this includes the addparkstuff and the park stuff password, it is empty
#9. Make sure that we can update funds requests using a dialog form
#10. Make sure that we can update emergency requests using a dialog form
#11. Make sure that when updating the password, the visitor must see the old password, new password and confirm password and update with a strong password




